.footer {
    background-color: #222831;
    padding: 20px;
  }
  
  .footer-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .footer-list li {
    background-color: #222831;
    color: white;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
  }
  
  .footer-list li i {
    margin-right: 8px;
  }
  
  /* Responsive adjustments */
  @media (max-width: 1200px) {
    .footer-list {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  @media (max-width: 992px) {
    .footer-list {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width: 768px) {
    .footer-list {
      grid-template-columns: 1fr;
    }
  }
  
  .footer-copyright {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: #6c757d;
  }
  